services:
  syncthing:
    image: linuxserver/syncthing:latest
    container_name: syncthing
    restart: unless-stopped
    environment:
      - TZ=${TZ:-America/New_York}
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
    volumes:
      - syncthing_config:/config
      - ${SYNC_PATH:-./sync}:/data
    ports:
      - "8384:8384"
      - "22000:22000/tcp"
      - "22000:22000/udp"
      - "21027:21027/udp"
    networks:
      - homelab

volumes:
  syncthing_config:

networks:
  homelab:
    external: true
